body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/world-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 120px;
  text-align: center;
}

header h1 {
  font-size: 90px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-size: 35px;
  line-height: 1.5;
}

header h3 {
  letter-spacing: 3px;
}

header a {
  display: inline-block;
  color: #085276;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px 32px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/amalfi-coast.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer p {
  font-size: 16px;
  opacity: 0.9;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 35px;
  }

  header h3 {
    font-size: 17px;
  }
}
